In [1]:
myFirstList = [37, 55, 89, 44, 23]

In [2]:
myFirstList

[37, 55, 89, 44, 23]

In [3]:
type(myFirstList)

list

In [5]:
l2 = ['hi', 23, True, 'Paloma', 2345]
l2

#lists can have all types of data and even another list

['hi', 23, True, 'Paloma', 2345]

In [6]:
#differences using range function
#it includes numbers until the number specified, if you want the last number to be inclused you'll need to put 16 for ex

range(15)

range(0, 15)

In [7]:
#using this you'll save in memmory the whole list and with the range function only, you won't be saving in memmory
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
#range can have other parameters, you can set where do you want it to start
#here we set it to start at 1
z = list(range(1,21))
z

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
#we can add a third parameter,that works like a step going 10 to 10, 2 to 2 inside de list

z2 = list(range(100,120,2))
z2

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118]

In [15]:
w = ['a', 'b', 'c', 'd', 'e']

In [16]:
w

['a', 'b', 'c', 'd', 'e']

In [18]:
#we can access an element inside de list by using its index (starts at 0)

w[0]

'a'

In [21]:
#you can also use a negative scale
# 0  1  3  4  5
#-5 -4 -3 -2 -1

w[-2]

'd'

In [19]:
#we can know how long is the list

len(w)

5

In [23]:
#you can replace elements
w[3] = 33

In [24]:
w

['a', 'b', 'c', 33, 'e']

In [26]:
#tried to add elements to the list using append
w.append(5)

In [27]:
w

['a', 'b', 'c', 33, 'e', 5]

---

In [28]:
#slicing
#similar understending of the range function
# we use : to slice, it creates a subset of the list
# on one side of the : we put the index that we want the subset to start and on the other side
# and on the other side we put the index that ends the subset (always remembering that the index is not inlcuded on the slice)
# it can also be used with 2 : on the third space you can enter the step

In [29]:
letters = ['A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'J']

In [30]:
letters

['A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'J']

In [31]:
letters[:]

['A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'J']

In [33]:
letters[:6]

['A', 'B', 'C', 'D', 'F', 'G']

In [34]:
letters[3:-1]

['D', 'F', 'G', 'H', 'I']

In [35]:
letters[2 : 5]

['C', 'D', 'F']

In [38]:
#advanced slicing
letters[0 : 5 : 2]

['A', 'C', 'F']

In [39]:
letters[1:7:3]

['B', 'F']

In [40]:
#negative step on slicing only works if we invert 

letters[6:0:-2]

['H', 'F', 'C']

----

In [41]:
#tuples = immutable list

t1 = (1, 3, 5, 7 ,9)
t1

(1, 3, 5, 7, 9)